* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.top-div{
    width: 100%;
    background-color: #34353A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    display: flex;
    padding: 20px 40px 20px 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.abbrevation-name{
    color: #fff;
    font-size: 40px;
}
.nav-content{
    display: flex;
    color: #fff;
    font-size: 18px;
    
}
.nav-content a{
    color: #fff;
    text-decoration: none;
}
.nav-content p{
    margin-right: 40px;
}
.navBar{
    fill: #fff;
    width: 40px;
    display: none;
}
.main-container{
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
}
.intro-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    /* justify-content: center; */

}
.intro-container h1{
    font-size: 3.5rem;
    color: #FECA6B;
    margin-bottom: 30px;
    width: 100%;
}
.intro-container p{
    color: #fff;
    font-size: 18px;
}
.intro-container button{
    border-radius: 10px;
    text-align: center;
    border: 5px solid #FECA6B;
    padding: 15px;
    margin-top: 3.1rem;
    width: 9rem;
    background-color: #34353A;
    color: #fff;
    font-size: 18px;
}
.image-container{
    width: 50%;
    display: flex;
}
.img{
    width: 100%;
    background-color: #34353A;
    border-color: #34353A;
    border-radius: 50%;
    border: 2px solid #34353A;
}
.about-container{
    background-color: rgb(49, 51, 59);
    width: 100%;
    padding: 20px;
}
.about-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.about-content h1{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #FECA6B;
    text-decoration-thickness: 5px;
    margin-bottom: 15px;
}
.about-content p{
    font-size: 18px;
}
.skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* grid-template-columns: auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-bottom: 10rem; */
}
.skill{
    background-color: #3d3e42;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 16.5rem;
    margin-right: 15px;
}

.skill-description{
    background-color: #3d3e42;
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.skill-hear{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #FECA6B;
    text-decoration-thickness: 5px;
    margin-bottom: 25px;
}
.portfolio-container{
    width: 100%;
    padding: 1rem;
    margin-top: 10rem;
}
.portfolio-header{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #FECA6B;
    text-decoration-thickness: 5px;
    margin-bottom: 25px;
}
.project-container{
    /* width: 100%; */
    /* display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    flex-wrap: wrap; */
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}
.project{
    /* width: 24%;
    margin: 15px;
    position: relative;
    min-height: 24rem;
    width: 100%; */
    /* height: 24rem; */
    position: relative;
}
.project-image{
    width: 100%;
    aspect-ratio: 7 / 9; 
    overflow: hidden;
    object-fit: fill;
    
    /* height: 20rem; */
}
.project a{
    
}
.vist-project-container{
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 15px;
}
.vist-project-container p{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.button-gitHub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visit-button{
    padding: 6px 12px;
    background-image: #31333B11;
    border: 0px solid #31333B11;
    cursor: pointer;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.contact-container{
    background-color: #fff;
    width: 92%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.contact-header{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 60px;
}
.contact-context{
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-around;
}
.contact-and-socialMedia{
    width: 40%;
    
}
.text{
    margin-bottom: 20px;
}
.email{
    font-weight: 700;
    margin-bottom: 20px;
}
.socialMedia{
    display: flex;
}
.socialMedia a{
    margin-right: 15px;
}
.inputDiv{
    width: 40%;
    

}
.inputDiv form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.inputDiv input{
    width: 75%;
    margin-bottom: 15px;
    padding: .375rem .75rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    font-size: 16px;
}
.inputDiv button{
     width: 75%;
    margin-bottom: 15px;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #feca6b ;
    background-color: #feca6b ;
    cursor: pointer;
}
.image-container{
    width: 100%;
}
.mobile-nav-content{
    position: relative;
    background-color: #31333b;
    border-bottom: .1px solid #feca6b;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
}
.mobile-nav-content a{
        color: #fff;
        text-decoration: none;
        padding: .5rem 1rem;
}
@media screen and (max-width: 1170px) {
    .skill{
        margin-bottom: 15px;
        width: 12rem;
        height: 20rem;
    }
}
@media screen and (max-width: 1025px){
    .intro-container h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 850px){
    .main-container{
        flex-direction: column;
    }
    .img{
        border-radius: 15px;
    }
    .intro-container {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }
    .image-container{
        order: 1;
        width: 100%;
        height: auto;
        border-radius: 10px;
        
    }
    .about-content{
        width: 100%;
        margin-top: 5rem;
    }

}
@media (max-width: 1024px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
  }
  .nav-content{
        display: none;
    }
    .contact-context{
        flex-direction: column;
    }
    .skill{
        width: 100%;
        margin-right: none;
        margin-left: 16px;
        margin-right: 16px;
    }
    .contact-context{
        flex-direction: column;
    }
    .contact-and-socialMedia{
        width: 100%;
    }
    .inputDiv{
        width: 100%;
        margin-top: 40px;
    }
    .inputDiv input{
        width: 100%;
    }
    .navBar{
        display: block;
    }
    
}